<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav>

        <a asp-controller="Home" asp-action="Index">Stream-Team</a>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Home" asp-action="Logout">Sign out</a>
            <p>Logged in user: @User.Identity.Name</p>
            <a asp-controller="Home" asp-action="Personal">My page</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Login">Login</a>
            <a asp-controller="Home" asp-action="Register">Register</a>
        }

        
    </nav>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
