@model LoginVM
<div class="card">
    <div class="card-body">
<h1 class="login">Log In</h1>
<button onclick="removeWindow()">X</button>
<form asp-controller="Home" asp-action="Login" class="login">
    <div class="login">
        <input class="login-input username-input" asp-for="UserName" placeholder="Username" />
        <span asp-validation-for="UserName"></span>

        <input class="login-input" asp-for="Password" placeholder="Password" />
        <span asp-validation-for="Password"></span>
        <br />
    </div>
    @*     <div asp-validation-summary="All"></div> *@
    <input class="login-button btn-secondary" type="submit" value="Log In" />

</form>
<a class="login dont-link" asp-controller="Home" asp-action="Register">Don't have an account yet?</a>
    </div>
</div>