@{
    ViewBag.Title = "Product";
}

@model IndexVM[]

<div class="overall-container">
    <div class="search-container">

        <div class="input-group input-group-lg">
            <input type="text" class="form-control" id="searchText" placeholder="Search by Title..." onkeyup="search()">
        </div>


        <button onclick="search()">Search</button>
    </div>
<div id="searchResults" class="my-container">

</div>

<div id="noResultsMessage" style="display: none;">No matching results found.</div>
</div>
<script>
    function search() {
        var searchText = document.getElementById("searchText").value.toLowerCase();
        var searchResultsContainer = document.getElementById("searchResults");
        var noResultsMessage = document.getElementById("noResultsMessage");
        searchResultsContainer.innerHTML = "";
        noResultsMessage.style.display = "none";
        var resultsFound = false;

    @foreach (var item in Model)
    {
        <text>
         if ("@item.Title".toLowerCase().includes(searchText)) {
         resultsFound = true;
         searchResultsContainer.innerHTML +=
             `<div class="my-col">
                <div class="card">
                <div class="center-cropped card-img-top" style="background-image: url('/Images/@item.ImageUrl');"></div>
                <div class="card-body" style="display: flex; flex-direction: column;">
                  <h2 class="card-title">@item.Title</h2>
                  <p class="format">@item.Format</p>
                  <p class="card-text" style="flex-grow: 1;"></p>
                  <div style="display: flex; justify-content: space-between; align-items: center;">
                      <img src="/Images/@item.LogoUrl" style="height:50px;" />
                      <a class="btn btn-primary" onclick="GetButtonText(@item.Id)"><div id="buttonText_@item.Id">Add to watch list</div></a>
                  </div>
                </div>
             </div>
           </div>
             `;
         }
        </text>
    }
        if (!resultsFound) {
            noResultsMessage.style.display = "block";
        }
    }

    

    function GetButtonText(id) {
        console.log(id)
        fetch("/AddToWatchList/" + id,
            {
                method: "GET",
            })
            .then(result => result.text())
            .then(html => {
                const buttonDiv = document.getElementById("buttonText_" + id)
                console.log(buttonDiv)
                buttonDiv.innerHTML = html
            })  
            
    }
    search();
</script>