@model LoginVM

<h1 class="form-custom">Log In</h1>
<form asp-controller="Home" asp-action="Login" class="form-custom">

    <input class="form-custom-input username-input" asp-for="UserName" placeholder="Username" />
    <span asp-validation-for="UserName"></span>

    <input class="form-custom-input" asp-for="Password" placeholder="Password" />
    <span asp-validation-for="Password"></span>
    <br />

    @*     <div asp-validation-summary="All"></div> *@
    <input class="login-button btn-secondary" type="submit" value="Log In" />

</form>
<a class="form-custom dont-link" asp-controller="Home" asp-action="Register">Don't have an account yet?</a>