@model LoginVM

<h1>Log In</h1>
<form asp-controller="Home" asp-action="Login">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
   
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <input type="submit" value="Log In" />

</form>
<div asp-validation-summary="All"></div>
<a asp-controller="Home" asp-action="Register">Don't have an account yet?</a>