@model PersonalVM



@{
    ViewBag.Title = "My Page";
}


<div class="overall-container">
    <h1 style="color:white; margin-bottom:50px;">My Watchlist</h1>
    <div class="my-container">
    @foreach (var item in Model.MyWatchList)
    {
        <div class="my-col">
            <div class="card">
                <div class="center-cropped card-img-top" style="background-image: url('/Images/@item.ImageUrl');"></div>
                <div class="card-body" style="display: flex; flex-direction: column;">
                    <h2 class="card-title">@item.Title</h2>
                    <p class="format">@item.Format</p>
                    <p class="card-text" style="flex-grow: 1;"></p>
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <img src="/Images/@item.LogoUrl" class="logo-img" />
                         <a asp-controller="Home" asp-action="RemoveFromWatchlist" asp-route-id="@item.Id" class="btn remove-btn">Remove from Watchlist</a>
                    </div>
                </div>
            </div>
        </div>
    }
    </div>
</div>


