@model RegisterVM
<h1 class="form-custom">Register</h1>
<form asp-controller="Account" asp-action="Register" class="form-custom">

    <input class="form-custom-input username-input" asp-for="UserName" placeholder="Username" />
    <span asp-validation-for="UserName"></span>


    <input class="form-custom-input" asp-for="Password" placeholder="Password" />
    <span asp-validation-for="Password"></span>


    <input class="form-custom-input" asp-for="PasswordRepeat" placeholder="Repeat password" />
    <span asp-validation-for="PasswordRepeat"></span>
    <br />
    <input class="login-button btn-secondary" type="submit" value="Register" />
</form>